body .menu {
    background-color: #d02746;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cookie;
    width: 160px;
    height: 100%;
    position: fixed;
    justify-content: center;
}

body .menu a {
    font-weight: normal;
    font-size: 40px;
    display: flex;
    text-decoration: none;
    color: white;
    padding: 38px 0;
}

body .menu a:hover {
    color: #feecd6;
}